.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#container{
    display: grid;
    grid-template-columns: 33% 67%;
}
#userSelect{
  background-color: lightyellow;
  margin: 5%;
}
#userSelect > * {
  margin: 5%;
}

#leftPanel{
  background-color: yellow;
  
}

#rightPanel{


}
